@import '_variables';
body{
	line-height:1.14%;
	background: white;
}
.app-container{
	color:$colorH;
	width: 955px;
    margin: 0 auto;
    display: block;
    top: 0;
    font-size:14px;
    background:$bg-contentapp;
    @mixin h2Title {
        $h2title:bold;
        .namehero{
            font-weight:$h2title;
            display: inline-block;
            font-style: normal;
            font-size: 14px;
            color:brown;
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }
   

    @mixin imgheroitems {
        $imgheroitems:100%;
        aside.imgheroitems{
            width:$imgheroitems;
            display: inline-block;
            float: left;
            height: 240px;
            img{
                width: 100%;
                border-radius: 100%;
                height:100%;
                border: 1px solid brown;

            } 
        }
        .title_hero{
            font-style: normal;
            font-size: 14px;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            color:white;
            font-weight: bold;
            width:209px;
            margin-top: 16px;
            padding:15px;
            background: brown;
        }
    }
    .imgHero {
        display: inline-block;
        width:calc(100% / 4) ;
        float: left;
        margin: 10px;
        @include h2Title;
        @include imgheroitems;
    }
    

}
